ion-header{ 
    --background: #252C40;
    --box-shadow: none !important;
    padding-top: 1rem;
    position: static;
}

ion-content{
    position: relative;

}

ion-img{
    position: absolute;
    top: 30px;
}

ion-card-title{
    font-weight: 700;
    font-size: 1.8rem;
}
ion-card-subtitle{
    font-weight: 600;
    font-size: 1.2rem;
}
ion-card-content{
    font-size: 1rem;
}
ion-card{
    min-height: 55%;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 3rem 3rem 0 0;
    padding: 2rem;
    margin-left: 0%;
    margin-bottom: 0%;
    z-index: 1;

    ion-button{
        --border-radius: 1.5rem;
    }
    
 
}