// Header
ion-header{
    -webkit-padding-start: 2rem;
    -webkit-padding-end: 2rem;
    --box-shadow: none !important;
    padding-top: 1rem;
    position: static;
}

ion-toolbar{
    --box-shadow: none !important;
}

ion-title{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 0px !important;
    padding: 0px;
    padding-bottom: .5rem !important;
}
ion-icon{
    font-size: 1.5rem;
}
ion-searchbar{
    --box-shadow: none;
    --border-radius: 1rem;
    --placeholder-font-weight: 600;
    --placeholder-opacity: 0.2;
    padding: 0px;
    margin-bottom: 1rem;
}
// icons
.chip{
    padding: 0.8rem;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
}

ion-label{
    width: 100px;
    height: 100px;
}
ion-label > ion-img{
    height: 10% !important;
}
//Content
ion-content > h1{
    --box-shadow: none !important;
    -webkit-padding-start: 2rem  !important;;
    -webkit-padding-end: 2rem  !important;;
    font-size: 1.6rem;
    font-weight: 600;
    color: #515151;
}
ion-card{
    width: 100%;
    padding: 1.6rem, 2rem !important;
    border-radius: 2.5rem !important;
    margin-bottom: 1.5rem;
    // background: #f3f3f3;
    text-align: center;
    height: 210px;
    z-index:1;
}
ion-item{
    position: relative;
    z-index:1 !important;
}
ion-img{
  width: 80% !important;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

ion-buttons{
    position: absolute;
    // bottom: 0.8rem;
    margin-top: 190px;
    left: 50%;
    transform: translateX(-60%);
}
ion-card-title{
    font-size: 1.2rem !important;
    font-weight: 600;
}
ion-button{

    width: 35px;
    height: 35px;
    --border-radius: 50% !important;

    --padding-start:0;
    --padding-end:0;
    --padding-top:0;
    --padding-bottom:0;
    z-index:3;

}