// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #FCD04C;
	--ion-color-primary-rgb: 252,208,76;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #deb743;
	--ion-color-primary-tint: #fcd55e;

	--ion-color-secondary: #252C40;
	--ion-color-secondary-rgb: 37,44,64;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #212738;
	--ion-color-secondary-tint: #3b4153;

	--ion-color-tertiary: #FF8062;
	--ion-color-tertiary-rgb: 255,128,98;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e07156;
	--ion-color-tertiary-tint: #ff8d72;

	--ion-color-success: #87AD98;
	--ion-color-success-rgb: 135,173,152;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #779886;
	--ion-color-success-tint: #93b5a2;

	--ion-color-warning: #FFDCE0;
	--ion-color-warning-rgb: 255,220,224;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0c2c5;
	--ion-color-warning-tint: #ffe0e3;

	--ion-color-danger: #2A6A52;
	--ion-color-danger-rgb: 42,106,82;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #255d48;
	--ion-color-danger-tint: #3f7963;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #FFFCEE;
	--ion-color-light-rgb: 255,252,238;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0ded1;
	--ion-color-light-tint: #fffcf0;

}
